<h2><%= chapter.chapter_title %></h2>
<h4><em>from <%= chapter.book_title %> — <%= chapter.created_at %></em></h4>
<hr />
<% verses.forEach(v => { %>
  <p><strong><%= v.verse_number %></strong> <%= v.text %></p>
<% }) %>
<hr />
