<html>
<head><title><%= chapter.title %></title></head>
<body>
<h1><%= chapter.book_title %>: <%= chapter.title %></h1>
<ul>
<% verses.forEach(v => { %>
  <li><strong><%= v.verse_number %></strong>: <%= v.text %></li>
<% }) %>
</ul>
</body>
</html>